ihfautomation/WebApplication/Reports/skuLabel.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="skuLabel"
    targetNamespace="http://tempuri.org/skuLabel.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/skuLabel.xsd"
    xmlns:mstns="http://tempuri.org/skuLabel.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>

  <xs:element name="Test">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="SkuNumber" type="xs:string" />
        <xs:element name="SkuBarcode" type="xs:string" />
        <xs:element name="SkuBarcodeTxt" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
